<h1><%= @vendor.name %></h1>
<br>

<h3> Contact info: </h3>
<p>Name: <%= @vendor.contact_name %><p>
<p>Phone: <%= @vendor.contact_phone %></p>
<p>Credit Accepted?: <%= @vendor.credit_accepted %></p>
<p>Description: <%= @vendor.description %></p>